div.RoverCard:hover {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 1);
  transform: scale(1.05, 1.05);
}

div.RoverCard {
  background: rgb(240, 234, 214);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 1);
  box-sizing: border-box;
  height: 430px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  padding-bottom: 2.5px;
  padding-left: 2.5px;
  padding-right: 2.5px;
  padding-top: 2.5px;
  text-align: center;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  width: 300px;
}

/* div.RoverCardfalse {
  display: none;
}  */

h1.RoverCard {
  text-align: center;
}

img.RoverCard {
  height: 250px;
  width: 250px;
}

p.RoverCard {
  font-size: small;
}