# backend
rails_javascript_development
rails_javascript_test

# personal settings
/.vscode/

# personal notes
wip-scratch.txt

# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Ignore master key for decrypting credentials and more.
/config/master.key
/config/credentials/staging.key
