:root {
  --black: #030416;
  --white: #f1f1f1;
  --grey: #d6e2e7;
  --dark-grey: #7f8a8e;
  --blue: #338fff;
  --blue-dark: #145cb3;
  --color: var(--white);
  --background: var(--black);
  --primary: var(--white);
}

body {
  font-family: "Arial Narrow", sans-serif;
  font-size: 16px;
  color: var(--color);
  background-color: var(--background);
}

.app {
  color: var(--color);
  background-color: var(--background);
}

/* buttons */
button, .button {
  appearance: auto;
  padding: 0.5rem 0.75rem;
  border: none;
  font: inherit;
  font-weight: 600;
  color: inherit;
  cursor: pointer;
  color: var(--primary);
  background-color: var(--background);
  border: 2px solid var(--blue-dark);
  transition: background-color 0.2s;
}

button.active,
button:focus,
button:hover,
.button.active,
.button:focus,
.button:hover {
  outline: none;
  background-color: var(--blue-dark);
  border: 2px solid var(--primary);
}

/* links */
a {
  color: var(--color);
  border-bottom: 1px solid var(--color);
  text-decoration: none;
}

a:hover {
  background-color: var(--blue);
  border-bottom: 1px solid var(--blue);
}

/* header */
header {
  padding: 1rem;
  text-align: center;
}

/* forms */
.form {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
  border: 2px solid var(--blue-dark);
  padding: 1.75rem;
}

/* input,
textarea,
select {
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: none;
  font-size: 1.25rem;
  font-weight: bold;
  transition: all 0.3s;
  border: 2px solid var(--color);
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border: 2px solid var(--primary);
}

.form button[type="submit"] {
  width: 50%;
  cursor: pointer;
} */

.details {
  border: 2px solid var(--primary);
  padding: 1rem;
}

.card {
  border: 2px solid var(--primary);
  padding: 1rem;
  /* max-width: 400px; */
  display: grid;
  /* grid-template-rows: auto 1fr auto; */
  border: 2px solid var(--blue-dark);
}

.navigation * {
  margin: 0 0.5rem;
}