button {
  float: right;
}

input {
  display: block;
  background: inherit;
  border: none;
  height: 100%;
  margin-bottom: 10%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  padding-bottom: 5%;
  padding-top: 5%;
  width: 100%;
}