.modal {
  background-color: rgba(0,0,0,0.95);
  bottom: 400px;
  height: 450px;
  left: 65%;
  position: relative;
  overflow: auto;
  width: 160%;
  z-index: 1;
}

.modalContent {
  background: rgb(240, 234, 214);
  margin: 15% auto;
  overflow: auto;
  padding: 5%;
  width: 85%;
}

button {
  float: right;
}

input {
  display: block;
  background: inherit;
  border: none;
  height: 100%;
  margin-bottom: 10%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  padding-bottom: 5%;
  padding-top: 5%;
  text-decoration-color: black;
  width: 100%;
}