.commentsContainer {
  display: flex;
}

.commentsContainer input {
  background: #1f2123;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  font-size: 1rem;
  height: 50px;
  padding: 5%, 5%;
}