a {
  outline: none;
  text-decoration: none;
}

a:link {
  color: black;
}

a:active,
a:focus,
a:hover,
a:visited {
  color: black;
  background: rgb(240, 234, 214);
}

a,
button,
div,
img,
input {
  border-radius: 10px;
}

body {
  background-color: #212426;
}

button {
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

h1,
h2,
h3 {
  letter-spacing: 1px;
}

nav {
  align-items: center;
  background: rgb(240, 234, 214);
  border-radius: 10px;
  display: flex;
  height: 30px;
  justify-content: space-evenly;
  margin: 25px 25px 25px 25px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
}
