div.PhotoList {
  background: rgb(240, 234, 214);
  height: 100%;
  margin-bottom: 60px;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 60px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

div.PhotoList img {
  width: 100%;
}