body {
  background-color: #212426;
}

h1,
h2,
h3 {
  letter-spacing: 0.9px;
}

a {
  outline: none;
  text-decoration: none;
  padding: 1% 0;
}

a:link {
  color: #be7a28;
}

a:visited {
  color: black;
}


a:active,
a:focus,
a:hover {
  background: rgb(240, 234, 214);
  border-radius: 10px;
}

/* @media screen and (max-width: 600px) {
  .app {
    padding: 4rem 2rem;
  }

  .search {
    padding: 1rem 1.75rem;
    width: 100%;
  }

  .search input {
    font-size: 1rem;
  }

  .search img {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 400px) {
  .app {
    padding: 4rem 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  .container {
    margin-top: 2rem;
  }

  .movie {
    width: "100%";
    margin: 1rem;
  }
} */