a {
  outline: none;
  text-decoration: none;
}

a:link {
  color: black;
}

a:active,
a:focus,
a:hover,
a:visited {
  color: black;
  background: rgb(240, 234, 214);
}

a,
button,
div,
img,
input {
  border-radius: 10px;
}

body {
  background-color: #212426;
}

h1,
h2,
h3 {
  letter-spacing: 1px;
}

ul {
  list-style-type: none;
}