.nav {
  background: linear-gradient(
    90deg,
    rgba(240, 234, 214, 1) 0%,
    rgba(249, 211, 180, 0) 100%
  );
  border-radius: 10px;
  display: flex;
  font-size: 1rem;
  height: 30px;
  justify-content: space-evenly;
  margin: 1% 0;
  padding: 5px;
  width: 100%;
}