div.RoverCard:hover {
  background-color: rgba(237, 143, 69, 0.8);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 1);
  transform: scale(1.05, 1.05);
}

div.RoverCard {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background: rgb(240, 234, 214);
  max-height: 500px;
  margin: 20px;
  text-align: center;
  max-width: 300px;
}

img.RoverCard {
  height: 230px;
  width: 230px;
}
